<% layout("layout/boilerplate") %>

 
    <h1>Campgrounds Detail page</h1>
    <h2><%= campgroundId.title %></h2>
    <h2><%= campgroundId.location %></h2>
    <p><a href="/campgrounds/<%=campgroundId._id%>/edit">Edit</a></p>
    <p>
      <form action="/campgrounds/<%=campgroundId._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
      </form>
    </p>
    <footer>
      <a href="/campgrounds">All campgrounds List</a>
    </footer>
 
