<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kyanpu Camp</title>
  </head>
  <body>
    <h1>navbar placeholder</h1>
    <main><%- body %></main>
    <h1>footer placeholder</h1>
  </body>
</html>
